.form-submit-button {
  background-color: #faff05;
  border: none;
  width: 150px;
  height: 40px;
  text-transform: uppercase;
}

label {
  display: block;
}
.sign-up-a {
  color: #000;
  cursor: pointer;
}

input {
  width: 250px;
}

.show-password {
  top: 24px;
  right: 0;
}

.show-password button {
  background: transparent;
  border: none;
}
