.nav-wrap {
  background-color: #383636;
  color: #fff;
  min-height: 100px;
  justify-content: space-between;
  align-items: center;
}

.settings-svgs {
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  .nav-wrap {
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
}

.logo {
  width: auto;
  height: 100px;
}

.nav-link {
  background-color: #5bc0ed;
  text-decoration: none;
  color: #fff;
  font-family: "Lexend Exa";
  font-size: 15px;
  border-radius: 15px;
}

.userName {
  font-size: 25px;
  font-family: "Lexend Exa";
}

.logout {
  cursor: pointer;
}
