.nav-wrap {
  background-color: #383636;
  color: #fff;
  min-height: 100px;
  justify-content: space-between;
  align-items: center;
}

.settings-svgs {
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  .nav-wrap {
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
}

.logo {
  width: auto;
  height: 100px;
}

.nav-link,
.edit-user-button {
  background-color: #5bc0ed;
  text-decoration: none;
  color: #fff;
  font-family: "Lexend Exa";
  font-size: 15px;
  border: none;
  border-radius: 15px;
}

.userName {
  font-size: 25px;
  font-family: "Lexend Exa";
}

.logout {
  cursor: pointer;
}

.settings-tab {
  width: 500px;
  height: 400px;
  background-color: #fff;
  border: 1px solid #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  z-index: 100;
}

.edit-user-button {
  width: 280px;
  height: 40px;
}

.settings-text {
  font-size: 12px;
}

.show-password {
  top: 24px;
  right: 0;
}

.show-password button {
  background: transparent;
  border: none;
}
