.nav-wrap {
  background-color: #383636;
  color: #fff;
  min-height: 100px;
  justify-content: space-between;
  align-items: center;
}

.nav-ul {
  list-style-type: none;
}

.settings-svgs {
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  .nav-wrap {
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
}
