.heading-img {
  width: auto;
  height: 550px;
}

@media only screen and (max-width: 992px) {
  .heading-img {
    height: 400px;
  }
}

@media only screen and (max-width: 650px) {
  .heading-img {
    height: 300px;
  }
}

@media only screen and (max-width: 450px) {
  .heading-img {
    height: 200px;
  }
}
