input {
  width: 250px;
}

.form-submit-button {
  background-color: #5bc0ed;
  border: none;
  font-family: "Lexend Exa";
  font-size: 15px;
  border-radius: 15px;
  color: #fff;
  width: 130px;
  height: 35px;
}

.sign-up-text {
  font-family: "Be Vietnam Pro";
  font-weight: bold;
}
