label {
  display: block;
}

input {
  width: 250px;
}

.form-submit-button {
  background-color: #5bc0ed;
  border: none;
  border-radius: 15px;
  color: #fff;
  width: 150px;
  height: 40px;
  text-transform: uppercase;
}
