.snippets-wrap {
  cursor: pointer;
}

.sidebar-wrap {
  height: 100%;
}

.code-wrap {
  width: 100%;
  height: 80vh;
  border: 1px solid #000;
}

.selected-snippet-title {
  font-size: 15px;
  margin: 0;
}

.new-snippet-button {
  background-color: #5bc0ed;
  border: none;
  border-radius: 15px;
  color: #fff;
  width: 180px;
  height: 40px;
  text-transform: uppercase;
}

label {
  display: block;
}

#content {
  width: 100%;
}

#newSnippetForm input {
  width: 250px;
}

.action-btn {
  background-color: transparent;
  border: none;
}

.snippet-search-wrap {
  overflow-y: auto;
}

.snippet-details {
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 992px) {
  .sidebar-wrap {
    height: 20.3vh;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
  }
}

@media only screen and (max-width: 650px) {
  .snippet-details {
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
}

.editing {
  border-bottom: 1px solid #000;
}

.copied {
  opacity: 0;
  visibility: hidden;
}

.copied.fade-out {
  animation: fadeOut 1.5s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
