/* You can add global styles to this file, and also import other style files */
.show-password {
  top: 24px;
  right: 0;
}

.show-password button {
  background: transparent;
  border: none;
}

label {
  display: block;
  font-family: "Be Vietnam Pro";
}

.form-submit-button {
  background-color: #5bc0ed;
  border: none;
  font-family: "Lexend Exa";
  font-size: 15px;
  border-radius: 15px;
  color: #fff;
  width: 130px;
  height: 35px;
}

.sign-in-text {
  font-family: "Be Vietnam Pro";
  font-weight: bold;
}
